@import "vars"

*
	box-sizing: border-box

*::-webkit-input-placeholder
	opacity: 0.5
	font-family: #666
	font-size: 14px
	font-weight: normal
	color: #333

*:-moz-placeholder
	opacity: 0.5
	font-family: #666
	font-size: 14px
	font-weight: normal
	color: #333

*::-moz-placeholder
	opacity: 0.5
	font-family: #666
	font-size: 14px
	font-weight: normal
	color: #333

*:-ms-input-placeholder
	opacity: 0.5
	font-family: #666
	font-size: 14px
	font-weight: normal
	color: #333

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #333
	border: 1px solid #f3101a

body input:required:valid,
body textarea:required:valid
	color: #333
	border: 1px solid #63baf3

html, body
	height: 100%

body
	position: relative
	width: 100%
	min-width: 320px
	margin: 0 auto
	line-height: 1.6
	font-size: 15px
	font-family: $default-font
	background-color: #fff
	overflow-x: hidden
